@import url('https://fonts.googleapis.com/css?familyRaleway');
@import url('https://fonts.googleapis.com/css?familyOswald');

html body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url('images/header.jpg') no-repeat 50% 50%;
    display: table;
    top: 0;
    background-size: cover;
}

.intro .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;    
}

h1{   
    color: #f9f3f4;
    text-shadow: 0px 0px 300px #000;
    font-size: 45px;
    padding: 10px 20px;
}

.btn{
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color:#036a81;
    font-size: 135%;
    padding: 10px 20px;
    border: solid #036a81 3px;
    text-decoration: none;
    text-transform: uppercase; 
}

.btn:hover{
    color: #fff;
    border: solid #fff 3px;
}
